 body{
 	font-family: "Georgoia",serif;
 	background-color: #FAF0E6;
 }
h1{
	text-align: center;
}

.btnwidth{
	width:20%;
}
.cont{
	margin-top: 1em;
}
.border{
	border:3px solid black;
}
.centralize{
	height:500px;
}
.buttonwidth{
	width: 13%;
}
.line{
	list-style: none;
}
